body {
  font-family: 'Caveat', cursive;
  margin: 0;
  padding: 0;
  min-height: 200vh;
}

body {
  font-family: 'Caveat', cursive;
  margin: 0;
  padding: 0;
  min-height: 200vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    url('images/1.PNG'), 
    url('images/2.PNG'), 
    url('images/3.PNG');
  background-size: 33.3333% 33.3333%; /* устанавливаем размер изображений */
  background-repeat: repeat-y; /* повторяем изображения только по вертикали */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}


.background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Заполняем всю площадь фотографией, сохраняя пропорции */
}

@media screen and (max-width: 768px) {
  .background {
    height: auto; /* Меняем высоту на авто, чтобы фон мог прокручиваться */
  }
}


.invitation-container {
  font-size: 20px;
  position: relative;
  z-index: 2;
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Ваш существующий CSS код */




body {
  font-family: 'Caveat', cursive;
  margin: 0;
  padding: 0;
  height: 75vh; /* Задает высоту равной высоте окна браузера */
 
}

/* Остальной CSS код */

.response-buttons {
  margin-top: 20px;
}


button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

.gif-container {
  position: absolute;
  bottom: 10px;
  left: 50px;
  width: 75px; /* Изменено на фиксированную ширину */
  height: 75px; /* Изменено на фиксированную высоту */
  z-index: 3;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .background {
    height: auto; /* Меняем высоту на авто, чтобы фон мог прокручиваться */
  }
}



.invitation-container {
  font-size: 20px;
  position: relative;
  z-index: 2;
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Ваш существующий CSS код */

body {
  font-family: 'Caveat', cursive;
  margin: 0;
  padding: 0;
  height: 75vh; /* Задает высоту равной высоте окна браузера */
 
}

/* Остальной CSS код */

.response-buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

.gif-container {
  position: absolute;
  bottom: 10px;
  left: 50px;
  width: 75px; /* Изменено на фиксированную ширину */
  height: 75px; /* Изменено на фиксированную высоту */
  z-index: 3;
}
